.category__section__content {
  // border: 2px solid red;
  display: flex;
  // align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  width: 100%;

  .single__category {
    // border: 2px solid green;
    height: 70vh;
    width: 9.9rem;
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .backdrop {
      background-color: rgba($color: #343a40, $alpha: 0.35);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 1rem;
    }

    span {
      font-size: 1.35rem;
      font-family: "MM";
      letter-spacing: 0.025rem;
      color: var(--grey-0);
    }
  }
}
