.category__page {
  background-color: var(--black);
  height: 100vh;
  display: flex;

  .navbar {
    width: 15%;
    height: 100vh;
    transition: width 425ms ease-in-out;

    &:hover {
      width: 40%;

      .link-text {
        width: 6rem;
        display: block;
        font-size: 1.15rem;
        font-family: "MM";
      }
    }
  }

  .main__content {
    border: 2px solid red;
    padding: 1rem;
  }
}
