.main__content__section {
    // width: 100%;
    padding: 1rem 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    // justify-content: space-between;

    .header {
        // border: 2px solid green;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            // border: 2px solid red;
            img {
                width: 12.5rem;
            }
        }

        .account {
            display: flex;
            align-items: center;
            // justify-content: center;
            // flex-direction: column;
            gap: 0.75rem;

            .account__pic {
                img {
                    border: 2px solid white;
                    border-radius: 100%;
                    width: 3.5rem;
                    height: 3.5rem;
                }
            }

            .account__name {
                padding-right: 2rem;
                font-size: 1.25rem;
                font-family: "MM";
                letter-spacing: 0.05rem;
            }
        }
    }

    .content {
        // border: 2px solid blue;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 2rem 1rem 0rem;
        height: 100%;
        width: 100%;
    }
}