.home-footer {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-600);

  .footer__section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 75rem;
    padding: 0 7.5rem;

    .top-div__section {
      padding: 0.25rem 0;
      p {
        font-size: 1.05rem;
        font-family: "OSB";
        font-weight: 700;
        letter-spacing: 0.025rem;
        word-spacing: 0.05rem;
      }
    }

    .middle-div__section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding: 1rem 0;

      .box {
        ul {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;

          li {
            a {
              font-size: 0.95rem;
              font-family: "MR";
              font-weight: 700;
              letter-spacing: 0.025rem;
              word-spacing: 0.05rem;
              color: var(--grey-600);
            }
          }
        }
      }
    }

    .bottom-div__section {
      padding: 0.25rem 0;
      p {
        font-size: 1.05rem;
        font-family: "OSB";
        font-weight: 700;
        letter-spacing: 0.025rem;
        word-spacing: 0.05rem;
      }
    }
  }
}
