.particular__category {
  // border: 2px solid red;

  .particular__category__heading {
    // border: 2px solid green;
    padding: 1rem;
    font-size: 1.15rem;
    font-family: "MM";
    letter-spacing: 0.025rem;
  }

  .particular__category__row {
    // border: 2px solid green;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;

    .particular__category__movie__poster {
      width: 100%;
      object-fit: contain;
      max-width: 15rem;
    }
  }
}
